name: CI Demo 
on: 
    pull_request: 
    branches: 
      - main 
    push:
    branches: 
      - main 
  

jobs: 
     demo-job:
         runs-on: ubuntu-latest 

         steps: 
          - name: Checkout repository 
            uses: actions/checkout@v3 

          - name: Run demo command
            run: echo "Testing CI is running even for pull_request events!" 
